<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-login</title>

           <!-- web-logo -->
           <link rel="short icon" href="assets/images/logo/logo.svg" type="x-icon">

           <!-- Logo -->
               <script src="https://unpkg.com/feather-icons"></script>
   
           <!-- fonts -->
               <link href="assets/css/fonts.css" rel="stylesheet" type="text/css">
       
           <!-- css-file -->
               <link href="assets/css/style.css" rel="stylesheet" type="text/css">
       
           <!-- media -->
               <link href="assets/css/media.css" rel="stylesheet" type="text/css">
       

               <style>

    

                /* login */
                .form-wrapper,
                .signup-form-wrapper {
                  width: 100%;
                  height: 100vh;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                
                .form-cont,
                .signup-form-cont {
                  border-radius: 10px;
                  min-height: 340px;
                  min-width: 300px;
                  background-color: var(--white-color);
                  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                
                .form-cont {
                    border-radius: 10px;
                    min-height: 300px;
                    min-width: 350px;
                    background-color: var(--white-color);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  }
                .signup-form-cont {
                  height: 550px;
                  width: 400px;
                }
                
                .form-title,
                .signup-form-title {
                  background-color: #32a6ff;
                  border-radius: 10px 10px 0 0;
                  padding: 15px;
                }
                
                .form-title img,
                .signup-form-title img {
                  width: 42px;
                  height: 42px;
                }
                
                .form-text,
                .signup-form-text {
                  padding: 15px;
                }
                .sign-up-path i a, .signup-form-text .login-path i a {
                    color: blue;
                }
                .form-text .user-name input,
                .form-text .password input,
                .signup-form-text input {
                  width: 100%;
                  border-radius: 50px;
                  padding: 15px;
                  font-size: 14px;
                  border: 1px solid #e9e9e9;
                  outline: none;
                  color: #495057;
                  margin: 10px 0;
                }
                
                .form-text .user-name i,
                .form-text .password i,
                .signup-form-text i {
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                  background-color: #018FFA;
                  line-height: 3;
                  font-size: 18px;
                  color: var(--white-color);
                }
                
                .form-text .user-name a,
                .form-text .password a,
                .signup-form-text a {
                  text-align: center;
                  top: 10px;
                  right: 0;
                }
                
                .login-btn button{
                  display: block;
                  background-color: #018FFA;
                  color: white;
                  width: 100%;
                  text-align: center;
                  padding: 10px 0;
                  border-radius: 50px;
                  border: 2px solid blue;
                  margin: 20px 0;
                  transition: all 0.3s ease-in-out;
                }
                
                .login-btn button:hover {
                  background-color: transparent;
                  border: 1px solid #018FFA;
                  color: #018FFA;
                }
                
                .sign-up-path i a,
                .signup-form-text .login-path i a {
                  text-decoration: underline;
                }
                .sign-up-path i,
                .signup-form-text .login-path i {
                  font-size: 12px;
                  color: #878a99;
                }
                .signup-form-text .login-path i {
                  border-radius: 0;
                  background: none;
                }
                .form-title h2 {
                    font-size: 18px;
                    color: var(--white-color);
                    align-items: center;
                    justify-content: center;
                    margin-top: 3%;
                    margin-left: 4%;
                }
                .d-flex{
                    display: flex;
                    flex-wrap: wrap;
                }
                /* Top Sellers */
                
                .Sellers-sec{
                    background-color: var(--box-color);
                }
                body.dark-only .Sellers-sec{
                    background-color: #202B40;
                }
                .Sellers{
                    margin: 20% 2%;
                    background-color: var(--fixed-bar-color);
                    padding: 16px 20px;
                    border-radius: 12px;
                    box-shadow:  0 3px 10px 0 rgb(48 46 56 / 6%);
                }
                body.dark-only .Sellers{
                    background-color: var(--box-color);
                }
                .title{
                    display: flex;
                    flex-wrap: wrap;
                }
                .Sellers .title h3{
                    font-size: 14px;
                    font-family: 500;
                    line-height: 20px;
                    color: rgb(51, 65, 85);
                    margin-left: 10px;
                }
                .Sellers .title span{
                    font-size: 12px;
                    font-family: 400;
                    line-height: 16px;
                    color: rgb(148, 163, 184);
                }
                .Sellers img{
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                }
                .Sellers .mail svg{
                    color: #4F46E5;
                    width: 16px;
                    height: 16px;
                }
                .sells-icons{
                    border-radius: 8px;
                    width: 27px;
                    height: 27px;
                    background-color: #EDECFC;
                    display: inline-block;
                    padding: 6px;
                }
                .target{
                    margin-top: 56px;
                    font-size: 14px;
                    font-family: 400;
                    line-height: 18px;
                    color: rgb(148, 163, 184);
                }
                .target h4{
                    font-size: 19px;
                    font-family: 300;
                    line-height: 28px;
                    color: rgb(51, 65, 85);
                }
                .t1{
                    margin-top: 0px;
                }
                
                .madel{
                    margin-top: 50px;
                }
                .madel svg{
                    width: 19px;
                    height: 19px;
                    color: #647488;
                    margin-right: 2px;
                    margin-top: 13px;
                }
                .madel-img img{
                    width: 25px;
                    height: 25px;
                }
                .madel-img{
                    margin-top: 10px;
                }
                body.dark-only .Sellers h3 , body.dark-only .Sellers h4 , body.dark-only .madel svg{
                    color: rgb(194, 201, 214);
                }
                .rel {
                    position: relative;
                  }
                  
                  .abs {
                    position: absolute;
                  }
                  
                  .flex {
                    display: flex;
                  }
                  
                  .wrap {
                    flex-wrap: wrap;
                  }
                
                  .login-icon {
                    padding: 13px;
                  }
                  .login-icon svg{
                    width: 21px;
                    height: 21ōpx;
                    color: #25a1ff;
                  }
                
                </style>         
</head>

<body>
    <!-- <div class="cursor"></div>
    <div class="cursor2"></div> -->

    <div id="cursor"></div>
    <div id="stalker"></div>

    <div class="form-wrapper">
        <div class="form-cont">
            <div class="form-title flex align-items center d-flex">
             

                <h2 style="color: white; font-size: 20px; text-align: center;">Lineone - Dashboard</h2>
            </div>
            <div class="form-text">
                <form class="mt-4" action="/newPassWord/<%=id%>" method="post">
    
                    <div class="password rel">
                        <label for="forgot-password" class="form-label">New Password</label>
                        <input type="text" name="pwd" placeholder="New Password..."  id="register-password">
                        
                    </div>
    
                    <div class="password rel">
                        <label for="forgot-password" class="form-label">Confirm New Password</label>
                        <input type="text"  name="new_pwd" placeholder="Confirm New Password..."  id="register-password">
                       
                    </div>
                    <div class="login-btn flex align-items center">
                        <button>
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="jq/jq-script.js"></script>

    <script>
        feather.replace();
    </script>


    <!-- cursor -->
    <script>
        const cursor = document.getElementById("cursor");
     const stalker = document.getElementById("stalker");
     document.addEventListener("mousemove", (event) => {
       const x = event.clientX;
       const y = event.clientY;
       cursor.style.transform = `translate(${x}px, ${y}px)`;
       stalker.style.transform = `translate(${x}px, ${y}px)`;
     });
   </script>

</body>

</html>